html,body {
  height: 100%;
}

body {
  
  background-size: cover;
}

video {
  right: 0;
  bottom: 0;
}

div#liveinfo
{
  overflow-y:scroll;
  height:1.7rem;
}

p#nowarp{
  overflow:hidden;
  white-space:nowrap;
  width: 1.5rem;
  text-overflow:ellipsis;
}

.live-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2.5%;
  overflow: hidden;
  color: #ffffff;
  z-index:99
}

.live-hearder {
  display: flex;
  width: 100%;
  height: 1rem;
  justify-content: space-between;
  align-items: center;
}

.live-hearder .head-left-wrapper {
  display: flex;
  align-items: center;
  width: 2.9rem;
  height: .6rem;
  background-color: rgba(0,0,0,.24);
  border-radius: .66rem;
}

.head-left-wrapper .head-left {
  width: .5rem;
  height: .5rem;
  background-color: #ccc;
  border-radius: 50%;
}

.head-left-wrapper .head-left img {
  border-radius: 50%;
  width: .5rem;
  height: .5rem;
}

.head-left-wrapper .head-middle {
  display: flex;
  margin: 0 2%;
  flex-direction: column;
}

.head-left-wrapper .head-middle p {
  font-size: .24rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.head-left-wrapper .head-right {
  display: block;
  width: .8rem;
  height: .5rem;
  font-size: .24rem;
  color: #ffffff;
  background-color: #F7585D;
  border-radius: .66rem;
}

.head-right-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  width: 0;
  height: .7rem;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 1%;
}

.live-hearder .btn {
  color: #fff;
  width: .7rem;
  line-height: .5rem;
  text-align: center;
  height: .5rem;
  font-size: .24rem;
  border-radius: .33rem;
  background-color: #FFE6A9;
}

.head-right-img {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: .06rem;
}

.head-right-img img {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
}

.head-right-wrapper .head-right-img:last-child {
  margin-right: 0;
}

.live-hot {
  display: inline-block;
  height: .46rem;
  line-height: .46rem;
  padding-right: .1rem;
  background-color: rgba(0,0,0,.24);
  border-radius: .66rem;
}

.live-hot .live-hot-color {
  color: #FFDF00;
}

.live-extract {
  position: absolute;
  top: 10%;
  right: 0;
  width: 2.44rem;
  height: 2.92rem;
  color: #ffffff;
  transition: all .5s linear;
  background: url("../images/img_extract@2x.png") center no-repeat;
  background-size: contain;
}

.live-extract .live-extract-content {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%,-20%);
  text-align: center;
}

.live-extract .live-extract-content p:first-child {
  font-size: .24rem;
  transform: scale(.8);
}
.live-extract .live-extract-content p:nth-child(2) {
  margin-top: 2%;
}

.live-footer .live-public {
  display: flex;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 .2rem;
  width: 5rem;
  height: 1rem;
  font-size: .32rem;
  overflow: hidden;
  color: #5DF889;
  font-weight: 450;
  background-color: rgba(0,0,0,.24);
  border-radius: .66rem;
  margin-bottom: .12rem;
}

.info-wrapper .red {
  color: #F06C87;
  font-weight: bold;
}

/* .live-footer .live-info {
  display: inline-flex;
  flex-direction: column;
} */

.live-footer .live-info .info-item {
  display: inline-block;
  height: .5rem;
  line-height: .5rem;
  color: #FFFA89;
  font-size: .24rem;
  padding: 0 2%;
  background-color: rgba(0,0,0,.24);
  border-radius: .66rem;
}

.info-item .info-yellow {
  position: relative;
  width: .2rem;
  color: #ffffff;
  font-size: .2rem;
  padding:.06rem .3rem;
  background-color: #FFBE00;
  border-radius: .66rem;
  margin-right: .08rem;
}

.info-item .info-blue {
  position: relative;
  width: .2rem;
  color: #ffffff;
  font-size: .2rem;
  padding:.06rem .3rem;
  background-color: #40B3AC;
  border-radius: .66rem;
  margin-right: .08rem;
}

.info-item .info-yellow::before {
  position: absolute;
  bottom: -15%;
  left: -15%;
  content: "";
  width: .5rem;
  height: .5rem;
  background: url("../images/aa.png") center no-repeat;
  background-size: contain;
}

.info-item .info-blue::before {
  position: absolute;
  bottom: -15%;
  left: -15%;
  content: "";
  width: .5rem;
  height: .5rem;
  background: url("../images/bb.png") center no-repeat;
  background-size: contain;
}

.live-footer .live-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: .9rem;
}

.live-footer .live-chat .gift {
  width: .6rem;
  height: .6rem;
  background: url("../images/ic_gift@2x.png") center no-repeat;
  background-size: contain;
}

.live-footer .live-chat .chat {
  position: relative;
  display: flex;
  width: 3.9rem;
  height: .6rem;
  align-items: center;
  background-color: rgba(0,0,0,.24);
  border-radius: .66rem;
}

.live-footer .live-chat .send {
  /* position: absolute;
  right: 2%; */
  text-align: center;
  font-size: .24rem;
  width: .72rem;
  height: .5rem;
  line-height: .5rem;
  color: #fff;
  background-color: #48D7CC;
  border-radius: .48rem;
}

.live-footer .live-chat .chat span {
  width: .6rem;
  height: .6rem;
  margin: 0 3%;
  background: url("../images/ic_chat@2x.png") center no-repeat;
  background-size: contain;
}

.live-footer .live-chat .chat input {
  width: 68%;
  height: .8rem;
  color: #fff;
  font-size: .24rem;
  background-color: transparent;
  overflow: auto;
  border-top-right-radius: .66rem .66rem;
  border-bottom-right-radius: .66rem .66rem;
}

.live-footer .live-chat .lianmai {
  display: flex;
  align-items: center;
  width: 2rem;
  height: .6rem;
  color: #ffffff;
  border-radius: .66rem;
  font-size: .24rem;
  background-color: #48D7CC;
}

.live-footer .live-chat .lianmai span {
  width: .6rem;
  height: .6rem;
  margin-right: 2%;
  background: url("../images/link_ic_mai@2x.png") center no-repeat;
  background-size: contain;
}

.live-info .info-wrapper {
  margin-bottom: .04rem;
}

@media (max-width:375px) {
  .live-footer .live-chat .lianmai {
    width: 2rem;
    font-size: .24rem;
  }
}

@media (max-width:320px) {
  .live-extract {
    top: 15%;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../images/img_extract@2x.png") center no-repeat;
    background-size: contain;
  }

  .live-extract .live-extract-content {
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%,-15%);
    text-align: center;
  }
  .live-extract .live-extract-content p:first-child {
    font-size: .24rem;
    transform: scale(.7);
  }

  .live-footer .live-chat .lianmai span {
    width: .6rem;
    height: .6rem;
    margin-right: 1%;
  }

  .live-footer .live-chat .gift {
    width: .7rem;
    height: .7rem;
    margin: 0 2%;
  }

  .live-footer .live-chat .lianmai {
    font-size: .24rem;
  }

  .live-footer .live-chat .chat {
    width: 3.6rem;
  }
}

/* 邀请函 */
.live-invite-mask {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  z-index: 102;
}

.live-invite-mask2 {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  z-index: 102;
}

.live-invite-mask-hide {
  display: none;
}

.live-invite {
  width: 6rem;
  height: 6.8rem;
  margin:0 auto;
  background: url("../images/img_envelope_bg@2x.png") center no-repeat;
  background-size: contain;
}

.live-invite .invite-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding-top: 1rem;
  text-align: center;
  color: #333333;
}

.live-invite .invite-content div {
  margin-bottom: .4rem;
}

.live-invite .invite-content div:nth-child(1) {
  font-weight: bold;
  font-size: .36rem;
}

.live-invite .invite-content div:nth-child(2) {
  color: #A8A8A8;
  font-size: .32rem;
  line-height: .32rem;
}

.live-invite .invite-content div:nth-child(4) {
  color: #A8A8A8;
  margin-bottom: .1rem;
}

.live-invite .invite-content div:nth-child(5) {
  color: #A8A8A8;
}

.live-invite .invite-content .money {
  font-size: 1.4rem;
  color: #F6A536;
}

.live-invite .invite-content .money span {
  font-size: .48rem;
}

.invite-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 1rem;
  margin: .2rem auto 0;
  font-size: .36rem;
  font-weight: bold;
  border-radius: .66rem;
  background: linear-gradient(to right,#FFEB62, #FF7919);
}

.invite-btn a {
  color: #ffffff;
}

.invite-close {
  display: flex;
  width: .6rem;
  height: .6rem;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  font-size: .38rem;
  border-radius: 50%;
  margin: .2rem auto 0;
  z-index: 99;
  box-shadow: 0 1px 3px #ccc;
  background-color: #FFEB62;
}

.invite-close a {
  color: #fff;
}

.invite-footer {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 0;
  z-index:110;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.invite-footer .invite-footer-name {
  display: flex;
  width: 90%;
  align-items: center;
  color: #000000;
  font-size: .32rem;
  font-weight: 475;
  margin: .2rem auto;
  margin-left: 25%;
  height: .48rem;
}

.invite-footer .left {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: -25%;
  left: 5%;
  background-color: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.invite-footer .left img {
  width: 100%;
}

.invite-footer .invite-footer-btn {
  width: 60%;
  height: .9rem;
  text-align: center;
  line-height: .9rem;
  font-size: .32rem;
  border-radius: .66rem;
  margin-bottom: .4rem;
  background-color: #F7585D;
}

.invite-footer .invite-footer-btn a {
  color: #ffffff;
  font-weight: bold;
}

/* 浏览器 */
.top-browser {
  position: absolute;
  width: 100%;
  height: 2.2rem;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0,0,0,.5);
}

.top-browser .banner {
  display: flex;
  width: 100%;
  height: 2.2rem;
  font-size: .38rem;
  background: url("../images/img_guide@2x.png") center no-repeat;
  background-size: 80%;
}

.top-browser .banner span {
  position: relative;
  left: 20%;
  bottom: -50%;
}

/* 温馨提示 */
.prompt-container {
  position: absolute;
  z-index:110;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
  width: 6.4rem;
  height: 7.4rem;
  margin: 0 auto;
  color: #666666;
  font-size: .32rem;
  background: url("../images/img_card_bg@2x.png") center no-repeat;
  background-size: contain;
}

.prompt-container .img-prompt {
  position: relative;
  top: -.8rem;
  width: 3rem;
  height: 3.1rem;
  margin: 0 auto;
  background: url("../images/img_prompt@2x.png") center no-repeat;
  background-size: contain;
}

.prompt-container .prompt-closse {
  position: absolute;
  top: 1%;
  right: 1%;
  width: .6rem;
  height: .6rem;
  z-index: 100;
  background: url("../images/ic_close_white@2x.png") center no-repeat;
  background-size: contain;
}

.prompt-container .prompt-content {
  width: 80%;
  margin: 0 auto;
}

.prompt-container .prompt-content p:nth-child(1) {
  color: #333333;
  font-size: .36rem;
  text-align: center;
  margin-bottom: .4rem;
}

.prompt-container .prompt-content p:nth-child(2) {
  margin-bottom: .3rem;
  line-height: .5rem;
}

.prompt-container .prompt-content p:nth-child(3) {
  margin-bottom: .2rem;
}

@media (max-width:375px) {
  .live-invite {
    width: 5rem;
    height: 5.8rem;
  }

  .live-invite .invite-content div {
    margin-bottom: .2rem;
  }

  .prompt-container {
    width: 5.4rem;
    height: 6.4rem;
    font-size: .24rem;
  }

}

@media (max-width:320px) {
  .live-invite {
    width: 4.6rem;
    height: 5.4rem;
  }

  .top-browser .banner span {
    position: relative;
    left: 20%;
    bottom: -50%;
    font-size: .34rem;
  }

  .invite-footer .invite-footer-name {
    font-size: .28rem;
  }

  .invite-btn {
    font-size: .24rem;
  } 

  .prompt-container {
    width: 4.4rem;
    height: 5.4rem;
    font-size: .24rem;
  }

  .prompt-container .img-prompt {
    top: -.5rem;
    width: 2rem;
    height: 2.1rem;
  }

  .invite-footer .invite-footer-btn {
    font-size: .24rem;
  }

  .live-invite .invite-content .money {
    font-size: 1rem;
    color: #F6A536;
  }
  

}

.live-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: url("../images/mask@2x.png") center no-repeat;
  background-size: cover;
}

.live-mask::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: inherit;
  background-size: cover;
  filter: blur(8px);
}

.live-mask .mask-content {
  position: absolute;
  width: 80%;
  height: 1.2rem;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  color: #ffffff;
  font-size: .38rem;
  z-index: 100;
}

.live-mask .mask-img {
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  left: 50%;
  top: 50%;
  background: url("../images/ic_play@2x.png") center no-repeat;
  background-size: contain;
  transform: translate(-50%,-50%);
  z-index: 100;
}
