.banner {
  display: flex;
  box-sizing: border-box;
  padding: 0 .5rem;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 1rem;
  border-radius: 0.14rem;
  font-size: .32rem;
  color: #DFBA7E;
  margin: auto;
  margin-bottom: .7rem;
  background: url(../images/home/card-bg@2x.png) center no-repeat;
  background-size: 100% 100%;
}

.banner p ,
.banner div span{
  background-image: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent;
}

.banner p {
  font-weight: bold;
}

.banner div {
  display: flex;
  align-items: center;
  font-size: .24rem;
}

.banner .refersh {
  width: .24rem;
  height: .24rem;
  margin-right: .1rem;
  background: url(../images/home/Shape1@2x.png) center no-repeat;
  background-size: 100% 100%;
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: .4rem auto;
  font-weight: bold;
  font-size: .32rem;
}

.play-detail {
  height: 1.6rem;
}

.play-detail .detail {
  display: flex;
  width: 90%;
  margin: auto;
  height: 1.6rem;
  font-size: .32rem;
  align-items: center;
  justify-content: space-between;
}

.play-detail .detail .title {
  margin-bottom: .2rem;
}

.play-detail .detail .gray {
  color: #999999;
}

.border-bottom {
  border: #333333;
}

.banner {
  margin-bottom: .4rem;
}

.dateList {
  margin-bottom: .4rem;
}
