/* 公共样式 */
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .50rem;
  margin-bottom: .40rem;
}

.header .family-img {
  display: inline-block;
  width: .34rem;
  height: .26rem;
  background-image: url('../images/home/Shape@2x.png');
  background-repeat: no-repeat;
  background-size: .34rem .26rem;
  vertical-align: top;
}

.header .family-title {
  font-size: .24rem;
  font-weight: 550;
  color: #333333;
}

.header .name {
  display: flex;
  position: relative;
  bottom: -.03rem;
  font-size: .24rem;
  font-weight: bold;
  align-items: center;
}

.header .name .img,
.header .name .edit-img,
.header .name .save-img {
  width: .32rem;
  height: .32rem;
  margin-right: .1rem;
  background: url("../images/home/search@2x.png") no-repeat;
  background-size: 100% 100%;
  vertical-align: top;
}

.header .name .edit-img {
  background: url("../images/home/edit@2x.png") no-repeat;
  background-size: 100% 100%;
}

.header .name .save-img {
  background: url("../images/home/保存@2x.png") no-repeat;
  background-size: 100% 100%;
}

.header .name .work {
  position: relative;
  box-sizing: border-box;
  font-size: .24rem;
  font-weight: 550;
  color: #333333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis {
  display: inline-block;
  vertical-align: top;
  width: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis1-5rem {
  display: inline-block;
  vertical-align: top;
  width: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis2rem {
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header .name .border-bottom {
  border-bottom: 1px solid #333333;
}

.header .name .head-img {
  width: .6rem;
  height: .6rem;
  margin-left: .1rem;
  border-radius: 50%;
  background-color: #d8d8d8;
}

.dateList {
  display: flex;
  width: 90%;
  flex-wrap: nowrap;
  margin: auto;
}

.dateList button {
  display: block;
  width: 1.58rem;
  height: .6rem;
  border-radius: .14rem;
  line-height: .6rem;
  text-align: center;
  color: #333333;
  font-size: .32rem;
  background-color: #eee;
  box-shadow: 0 1px 8px 0px #ccc;
}

.dateList-active {
  background: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
}

.start-time {
  display: flex;
  width: 96%;
  margin: auto;
  align-items: center;
  font-size: .24rem;
  justify-content: space-between;
  margin-bottom: .3rem;
}

.start-time div {
  display: flex;
  align-items: center;
}

.start-time .searchId {
  box-sizing: border-box;
  display: inline-block;
  width: 2rem;
  height: .6rem;
  box-shadow: 0 3px 8px 1px #d6d5d5;
  border-radius: .14rem;
  margin:0 .2rem;
  padding-left: .2rem;
  background-color: #EEEEEE;
}

.start-time .search {
  display: inline-block;
  width: 1.1rem;
  height: .6rem;
  background: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
  box-shadow: 0 3px 8px 1px #d6d5d5;
  border-radius: .14rem;
  text-align: center;
  line-height: .6rem;
  font-size: .32rem;
}

.log-on {
  display: flex;
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  padding: .4rem 0 .4rem .6rem;
  height: 2.56rem;
  font-size: .32rem;
  align-items: center;
  border-radius: .14rem;
  color: #DFBA7E;
  background: url("../images/home/bg-card-black@2x.png") center no-repeat;
  background-size: 100% 100%;
}

.log-on .img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: .2rem;
  margin-bottom: .1rem;
  text-align: center;
  line-height: 1rem;
  background-color: #DFBA7E;
}

.log-on .img img {
  width: 100%;
}

.log-on .title p {
  font-weight: bold;
  padding: .06rem 0;
  background-image: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent;
}

.log-on-btn {
  width: 50%;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  margin: auto;
  font-weight: bold;
  margin-top: .4rem;
  font-size: .32rem;
  border-radius: .66rem;
  background: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
  box-shadow: 0 3px 8px 1px #d6d5d5; 
}

.data-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 1.2rem;
}

.data-top .wrapper {
  display: inline-block;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  line-height: .8rem;
  overflow: hidden;
}

.data-top .wraaper img {
  width: 100%;
}

.data-top p {
  font-size: .48rem;
  font-weight: bold;
}

.data-top .btn {
  width: 1.2rem;
  height: .6rem;
  text-align: center;
  line-height: .6rem;
  border-radius: .14rem;
  color: #333;
  font-weight: bold;
  background: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
}

.data-middle {
  width: 90%;
  height: 3.2rem;
  text-align: center;
  line-height: 3.2rem;
  margin: .4rem auto .8rem;
  border-radius: .06rem;
  background-color: #ccc;
}

.data-middle img {
  width: 100%;
}

.data-footer {
  width: 90%;
  margin: 0 auto;
  font-size: .32rem;
}

.data-footer .item {
  display: flex;
  align-items: center;
  margin-bottom: .3rem;
}

.data-footer .item .bind {
  flex: 1;
  padding: .1rem;
  border: 1px solid #333333; 
  border-radius: .14rem;
}

.data-footer .item .btn {
  margin-left: .2rem;
  padding: 0 .15rem;
  border-radius: .14rem;
  background: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
}

.data-footer .item-last {
  align-items: flex-start;
}

.data-footer .item-last textarea {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: .14rem;
  padding: .1rem;
  overflow: auto;
}

.untie-mask .content {
  display: flex;
  box-sizing: border-box;
  padding: 0 5%;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: -.2rem;
  background-color: #fff;
}

.untie-mask .content .item2 {
  font-size: .34rem;
  margin-bottom: .2rem;
}

.untie-mask .content .item6 {
  width: 100%;
  text-align: center;
  font-size: .28rem;
  padding: .05rem 0;
  background-color: #ccc;
}

.untie-mask .content .item2:nth-child(1) {
  text-align: center;
  font-size: .36rem;
  font-weight: 500;
  padding-top: .1rem
}

.untie-mask .content .item3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .32rem;
  margin-bottom: .2rem;
}

.untie-mask .content .item3 div {
  padding: .05rem 0;
}

.untie-mask .content .item4 {
  width: 100%;
  text-align: center;
  font-size: .32rem;
  margin-bottom: .4rem;
}

.btn-warpper {
  font-size: .36rem;
}

.bottom-margin{
  margin-bottom: .4rem;
}

@media (max-width:320px) {
  .start-time .searchId {
    width: 50%;
  }
  .ellipsis2rem {
    display: inline-block;
    vertical-align: top;
    width: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}