.deposit-header {
  display: flex;
  height: .6rem;
  background-color: #EEEEEE;
}

.deposit-header .header-notice {
  display: flex;
  width: 90%;
  margin: auto;
  height: .6rem;
  justify-content: space-between;
  align-items: center;
  font-size: .24rem;
}

.deposit-header .header-notice p:nth-child(2) {
  font-size: .2rem;
  background-color: #DDDDDD;
  border-radius: .06rem;
  text-align: center;
  height: .4rem;
  width: 1.22rem;
  line-height: .4rem;
}

.player-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: auto;
  margin-bottom: .4rem;
  font-size: .32rem;
}

.player-search .title {
  width: 1.2rem;
  height: .6rem;
  text-align: center;
  line-height: .6rem;
  font-size: .32rem;
}

.player-search .search {
  width: 1.2rem;
  height: .6rem;
  background: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
  box-shadow: 0 3px 8px 1px #d6d5d5;
  border-radius: .14rem;
  text-align: center;
  line-height: .6rem;
  font-size: .32rem;
}

.player-search .searchId {
  box-sizing: border-box;
  width: 60%;
  padding: 0 .4rem;
  margin: 0 .2rem;
  height: .6rem;
  box-shadow: 0 3px 8px 1px #d6d5d5;
  border-radius: .14rem;
  background-color: #EEEEEE;
}


.deposit-banner,
.deposit-banner2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 4.8rem;
  margin: auto;
  margin-top: .4rem;
  color: #DEBE81;
  box-sizing: border-box;
  background-image: url("../images/home/bg-card-black@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: .14rem;
  padding: .60rem;
}

.deposit-banner div {
  margin-bottom: .2rem;
}

.deposit-banner .send-money {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deposit-banner .send-money p:first-child {
  display: inline-block;
  font-size: .72rem;
  font-family: Impact;
  background-image: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent;
}

.deposit-banner .send-money .refersh span {
  display: inline-block;
  width: .24rem;
  height: .24rem;
  margin-right: .1rem;
  background: url(../images/home/Shape1@2x.png) center no-repeat;
  background-size: 100% 100%;
}

.deposit-banner .border-bottom {
  border-bottom: 1px solid rgb(134, 118, 85);
}

.deposit-banner .apply-money {
  display: flex;
  margin-top: .2rem;
  justify-content: space-around;
  text-align: center;
}

.deposit-banner .apply-money section p:first-child{
  margin-bottom: .3rem;
}

.deposit-banner .apply-money section p:nth-child(2){
  font-size: .48rem;
}

.deposit-banner .balance-posi-btn {
  position: absolute;
  left: 50%;
  margin-left: -2.16rem;
  bottom: -.6rem;
  width: 4.32rem;
  height: .8rem;
  text-align: center;
  line-height: .8rem;
  font-size: .32rem;
  font-weight: bold;
  border-radius: .66rem;
  color: #333333;
  background-image: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
}

.deposit-banner .unallow {
  background: #EEEEEE;
  color: #999999;
}

.deposit-banner2 {
  flex-direction: row;
  align-items: center;
}

.deposit-banner2 div p:nth-child(2) {
  display: inline-block;
  font-size: .72rem;
  font-weight: bold;
  padding: .2rem 0;
  background-image: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent;
}

.send-title {
  display: flex;
  align-items: center;
  width: 85%;
  font-size: .32rem;
  font-weight: bold;
  margin: .3rem auto;
}

.send-title p {
  margin-right: .2rem;
}

.send-title div {
  text-align: center;
  font-size: .24rem;
  padding: .24rem;
  margin-right: .2rem;
  border-radius: .12rem;
  background-image: linear-gradient(to bottom,#EEEEEE, #CCCCCC);
}

.send-title .send-title-active {
  background-image: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
}

.size-21 {
  display: flex;
  align-items: center;
  width: 85%;
  margin: .3rem auto;
  font-size: .42rem;
}

.size-21 .img {
  width: .44rem;
  height: .42rem;
  background: url("../images/PhoneHome/邀请@2x.png") center no-repeat;
  background-size: 100%;
  margin-right: .2rem;
}

.sendInfo {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 .56rem;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  font-size: .32rem;
}

.sendInfo div:nth-child(2) p {
  text-align: right;
}

.sendInfo .title {
  margin-bottom: .2rem;
}

.sendInfo .gray {
  color: #999;
}

.sendInfo .refuse {
  color: #E7402E;
}

.sendInfo .ellipsis {
  width: 3.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.record {
  display: block;
  width: 1.68rem;
  margin: auto;
  margin-top: .6rem;
  padding-bottom: .06rem;
  color: #999999;
  border-bottom: 1px solid #999999;
}

.recruit-info .title {
  letter-spacing: 2px;
  width: 60%;
  height: .3rem;
  line-height: .3rem;
  font-size: .32rem;
  margin: .8rem auto .4rem;
  font-weight: bold;
  text-align: center;
  background: url("../images/home/line@2x.png") center  no-repeat;
  background-size: 100%;
}

.coin-btn {
  display: block;
  margin: auto;
  margin-top: .4rem;
  width: 1.8rem;
  height: .6rem;
  border-radius: .14rem;
  background-image: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
}

.footer-notice {
  display: flex;
  width: 100%;
  font-size: .24rem;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  height: .6rem;
}

.footer-notice .green {
  color: #47AD69;
}

.footer-notice .red {
  color: #E7402E;
}

.rule-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .24rem;
  font-weight: bold;
  margin: auto;
  width: 100%;
}

.rule-footer .rule-header {
  display: flex;
}

.rule-footer .rule-header .rule-gift {
  width: .2rem;
  height: .24rem;
  margin-right: .1rem;
  background: url("../images/PhoneHome/红包@2x.png") center no-repeat;
  background-size: 100% 100%;
}

.rule-footer .rule-title {
  margin-bottom: .58rem;
}

.rule-footer .rule-list p {
  margin-bottom: .26rem;
}

.rule-footer .green {
  color: #47AD69;
}

.rule-footer .red {
  color: #E7402E;
}

.flow-container {
  margin-top: .8rem;
}

.flow-wrapper {
  display: flex;
  align-items: center;
  margin-left: .4rem;
  margin-bottom: 1rem;
}

.flow-wrapper .step {
  width: 1.8rem;
  height: 1rem;
  background-color: #333333;
  border-radius: .08rem;
  text-align: center;
  line-height: 1rem;
}

.flow-wrapper .step span {
  background-image: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent;
}

.flow-container .text {
  display: inline-flex;
  font-size: .28rem;
  line-height: .7rem;
  height: .7rem;
  padding: .2rem .4rem;
  margin-left: -.4rem;
  background: url("../images/PhoneHome/Mask1@2x.png") center no-repeat;
  background-size: 100% 100%;
}

.flow-btn {
  display: block;
  width: 60%;
  margin: auto;
  height: .8rem;
  color: #333333;
  font-size: .32rem;
  font-weight: bold;
  border-radius: .66rem;
  background-image: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
}

@media (max-width:375px) {
  .start-time .searchId {
    width: 60%;
  }
}

@media (max-width:320px) {
  .start-time .searchId {
    width: 55%;
  }
  .flow-wrapper {
    margin-left: 0;
  }
  .flow-wrapper .text {
    font-size: .24rem;
  }
}
