.sell {
  display: flex;
  width: 100%;
  height: 2.56rem;
  border-radius: .14rem;
  background: url("../images/home/bg-card-black@2x.png") no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 3px 8px #757575;
}

.sell-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.sell-time {
  display: flex;
  justify-content: space-between;
  color: #DFBA7E;
  font-size: .2rem;
}

.sell-time .refresh img {
  display: inline-block;
  width: .24rem;
  height: .24rem;
  vertical-align: top;
}

.sell-count {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: rgb(252, 220, 138);
  margin-top: .05rem;
}

.sell-count .number {
  font-size: .72rem;
  font-family: Impact;
  background-image: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent;
}

.sell-count .rank-up {
  color: #E7402E;
  font-size: .32rem;
}

.sell-count .rank-up span {
  font-size: .40rem;
  padding: 0 .02rem;
  font-weight: 550;
}

.sell-count .range {
  width: 2.2rem;
  font-size: .20rem;
  color: #ffffff;
}

.sell-count .range span {
  color: #DFBA7E;
}

.sell-container .line {
  margin-top: .1rem;
  border-radius: .04rem;
  border: 2px solid #ccc;
}

.sell-container .explain {
  width: .96rem;
  margin: auto;
  margin-top: .2rem;
  font-size: .24rem;
  color: #ccc;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.main {
  display: flex;
  width: 100%;
  margin-top: .4rem
}

.main .list {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.main .list .item {
  display: flex;
  width: 33%;
  flex-direction: column;
  box-sizing: border-box;
  height: 2.4rem;
  text-align: center;
}

.main .list .item div {
  width: 100%;
  height: 1.6rem;
}

.main .list .item p {
  padding-top: .1rem;
  font-size: .32rem;
  font-weight: 550;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .6);
}

.invite-mask {
  /* display: none; */
  position: absolute;
  z-index: 99;
  top: 40%;
  left: 50%;
  width: 90%;
  height: 3.12rem;
  transform: translate(-50%, -40%);
  /* background-color: #fff;
  border-radius: 0.14rem;
  box-shadow: 0 3px 8px 1px #757575; */
}

.invite-mask .banner {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 1rem;
  font-size: .42rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 0.14rem;
  color:  #DFBA7E;
  box-shadow: 0 3px 8px 1px #757575;
  background: url("../images/home/card-bg@2x.png") no-repeat;
  background-size: 100% 100%;
}

.invite-mask .banner span {
  font-family: Impact;
  background-image: linear-gradient(to bottom,#FFE6A9, #DFBA7E);
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent;
}

.invite-mask .content {
  position: relative;
  box-sizing: border-box;
  padding: .2rem;
  padding-top: .5rem;
  text-align:  center;
  font-size: .24rem;
  margin-top: -.2rem;
  background-color: #fff;
  border-radius: 0.14rem;
  box-shadow: 0 3px 8px 1px #757575;
  overflow: scroll;
}

.invite-mask .content p {
  margin-bottom: .3rem;
}

.invite-mask .content .know {
  width: 3.48rem;
  height: .44rem;
  line-height: .44rem;
  text-align: center;
  font-size: .24rem;
  border-radius: 0.14rem;
  box-shadow: 0 3px 8px 1px #adadad;
  background: linear-gradient(to bottom, #EEEEEE , #CCCCCC);
}

.explain-mask-hide {
  display: none;
}

.mask-notice {
  position: absolute;
  display: flex;
  width: 90%;
  top: 20%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -20%);
  flex-direction: column;
}

.mask-notice .close-wrapper {
  display: flex;
  width: 100%;
  height: .48rem;
  margin-bottom: .4rem;
  justify-content: flex-end;
}

.mask-notice .close-wrapper .close {
  display: flex;
  width: .48rem;
  height: .48rem;
  background: url("../images/PhoneHome/关闭@2x.png") center no-repeat;
  background-size: contain;
}

.mask-notice .banner {
  position: relative;
  z-index: 99;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1rem;
  padding: 0 .6rem;
  color: #DFBA7E;
  background: url("../images/home/card-bg@2x.png") center no-repeat;
  background-size: cover;
  border-radius: .14rem;
  margin-bottom: .02rem;
}

.mask-notice .banner p {
  font-size: .32rem;
  font-weight: bold;
}

.mask-notice .banner .open {
  width: .40rem;
  height: .40rem;
  background: url("../images/PhoneHome/Shape@2x.png") center no-repeat;
  background-size: contain;
}

.mask-notice .content {
  margin: auto;
  margin-top: -.24rem;
  border-radius: .14rem;
  padding: .4rem;
  background-color: #ffffff;
  box-shadow: 0 3px 8px 1px #cccccc;
}

.mask-notice .hide {
  display: none;
}

.mask-notice .banner .down {
  background: url("../images/PhoneHome/Shape1@2x.png") center no-repeat;
  background-size: contain;
}

.mask-notice .banner .right {
  background: url("../images/PhoneHome/Shape2@2x.png") center no-repeat;
  background-size: contain;
}

.main .list .item .item1 {
  background: url(../images/home/代客充值@2x.png) center no-repeat;
  background-size: 100%;
}

.main .list .item .item2 {
  background: url(../images/home/靓号@2x.png) center no-repeat;
  background-size: 100%;
}

.main .list .item .item3 {
  background: url(../images/home/借款@2x.png) center no-repeat;
  background-size: 100%;
}

.main .list .item .item4 {
  background: url(../images/home/提现资料@2x.png) center no-repeat;
  background-size: 100%;
}

.main .list .item .item5 {
  background: url(../images/home/订单@2x.png) center no-repeat;
  background-size: 100%;
}

.main .list .item .item6 {
  background: url(../images/home/明细@2x.png) center no-repeat;
  background-size: 100%;
}

.main .list .item .item7 {
  background: url(../images/home/收益@2x.png) center no-repeat;
  background-size: 100%;
}

.main .list .item .item8 {
  background: url(../images/home/支付密码@2x.png) center no-repeat;
  background-size: 100%;
}

.main .list .item .item9 {
  background: url(../images/home/公告@2x.png) center no-repeat;
  background-size: 100%;
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
  .header .home-img {
    background-image: url('../images/home/Shape@3x.png');
  }
  .main .list .item .item1 {
    background: url(../images/home/代客充值@3x.png) center no-repeat;
    background-size: 100%;
  }
  
  .main .list .item .item2 {
    background: url(../images/home/靓号@3x.png) center no-repeat;
    background-size: 100%;
  }
  
  .main .list .item .item3 {
    background: url(../images/home/借款@3x.png) center no-repeat;
    background-size: 100%;
  }
  
  .main .list .item .item4 {
    background: url(../images/home/提现资料@3x.png) center no-repeat;
    background-size: 100%;
  }
  
  .main .list .item .item5 {
    background: url(../images/home/订单@3x.png) center no-repeat;
    background-size: 100%;
  }
  
  .main .list .item .item6 {
    background: url(../images/home/明细@3x.png) center no-repeat;
    background-size: 100%;
  }
  
  .main .list .item .item7 {
    background: url(../images/home/收益@3x.png) center no-repeat;
    background-size: 100%;
  }
  
  .main .list .item .item8 {
    background: url(../images/home/支付密码@3x.png) center no-repeat;
    background-size: 100%;
  }
  
  .main .list .item .item9 {
    background: url(../images/home/公告@3x.png) center no-repeat;
    background-size: 100%;
  }
}