.sloth:nth-child(1) {
  -webkit-clip-path: polygon(20.35% 45.429%, 22.8% 35.571%, 28.95% 39.286%);
  background-color: #8F6B4E;
}

.sloth:nth-child(2) {
  -webkit-clip-path: polygon(20.35% 45.429%, 26.45% 41%, 23.65% 47.429%);
  background-color: #684B2D;
}

.sloth:nth-child(3) {
  -webkit-clip-path: polygon(22.8% 35.714%, 22.75% 27.857%, 30.05% 29%);
  background-color: #B89076;
}

.sloth:nth-child(4) {
  -webkit-clip-path: polygon(25.4% 28.357%, 29.7% 28.929%, 22.8% 35.643%);
  background-color: #c6a188;
}

.sloth:nth-child(5) {
  -webkit-clip-path: polygon(22.8% 35.714%, 30% 28.857%, 27.95% 40.4%);
  background-color: #AA8269;
}

.sloth:nth-child(6) {
  -webkit-clip-path: polygon(22.85% 29.143%, 19.35% 24.857%, 22.65% 26.286%);
  background-color: #DEC9BF;
}

.sloth:nth-child(7) {
  -webkit-clip-path: polygon(22.75% 27.857%, 25.85% 25.571%, 30.05% 29.286%);
  background-color: #A2725D;
}

.sloth:nth-child(8) {
  -webkit-clip-path: polygon(29.85% 29%, 34.35% 26.286%, 32.75% 31.143%);
  background-color: #DEC9BF;
}

.sloth:nth-child(9) {
  -webkit-clip-path: polygon(23.45% 27.286%, 21.65% 16.143%, 24.95% 26.429%);
  background-color: #634C42;
}

.sloth:nth-child(10) {
  -webkit-clip-path: polygon(26.05% 25.857%, 30.15% 19.714%, 28.05% 27.571%);
  background-color: #634C42;
}

.sloth:nth-child(11) {
  -webkit-clip-path: polygon(21.75% 16%, 24.95% 4.429%, 22.25% 17.857%);
  background-color: #312B34;
}

.sloth:nth-child(12) {
  -webkit-clip-path: polygon(30.05% 19.714%, 34.05% 15.571%, 28.85% 24.429%);
  background-color: #312B34;
}

.sloth:nth-child(13) {
  -webkit-clip-path: polygon(33.15% 16.571%, 33.15% 4.429%, 33.95% 15.571%);
  background-color: #413430;
}

.sloth:nth-child(14) {
  -webkit-clip-path: polygon(29.95% 29.143%, 37.15% 42.571%, 27.85% 40%);
  background-color: #A3785C;
}

.sloth:nth-child(15) {
  -webkit-clip-path: polygon(27.75% 40%, 37.15% 42.429%, 33.8% 53.4%);
  background-color: #835D48;
}

.sloth:nth-child(16) {
  -webkit-clip-path: polygon(33.45% 35.857%, 52.05% 38.2%, 37.05% 42.714%);
  background-color: #835D48;
}

.sloth:nth-child(17) {
  -webkit-clip-path: polygon(37.2% 42.1%, 38.85% 58.714%, 33.75% 53.429%);
  background-color: #896444;
}

.sloth:nth-child(18) {
  -webkit-clip-path: polygon(37.05% 42.429%, 47.85% 60.714%, 38.75% 58.714%);
  background-color: #A3785C;
}

.sloth:nth-child(19) {
  -webkit-clip-path: polygon(37.05% 42.571%, 52.05% 38.143%, 47.85% 60.714%);
  background-color: #996E50;
}

.sloth:nth-child(20) {
  -webkit-clip-path: polygon(38.85% 58.571%, 43.45% 59.571%, 36.65% 76.286%);
  background-color: #9E765B;
}

.sloth:nth-child(21) {
  -webkit-clip-path: polygon(38.55% 71.571%, 41.95% 85.429%, 36.65% 75.714%);
  background-color: #76563A;
}

.sloth:nth-child(22) {
  -webkit-clip-path: polygon(43.85% 59.571%, 47.85% 60.571%, 46.35% 85.714%);
  background-color: #AC805E;
}

.sloth:nth-child(23) {
  -webkit-clip-path: polygon(47.75% 60.571%, 52% 38.143%, 61.95% 58.143%);
  background-color: #91694E;
}

.sloth:nth-child(24) {
  -webkit-clip-path: polygon(51.85% 38.286%, 67.15% 35.714%, 73.65% 47.571%);
  background-color: #906754;
}

.sloth:nth-child(25) {
  -webkit-clip-path: polygon(52.05% 38.286%, 73.65% 47.429%, 61.85% 58.286%);
  background-color: #A2785C;
}

.sloth:nth-child(26) {
  -webkit-clip-path: polygon(65.85% 59.143%, 70.85% 52.286%, 73.65% 74.143%);
  background-color: #654E45;
}

.sloth:nth-child(27) {
  -webkit-clip-path: polygon(61.85% 58.143%, 73.55% 47.429%, 68.35% 59.143%);
  background-color: #AF896D;
}

.sloth:nth-child(28) {
  -webkit-clip-path: polygon(61.85% 58%, 68.35% 59.143%, 68.35% 72.286%);
  background-color: #BF9C87;
}

.sloth:nth-child(30) {
  -webkit-clip-path: polygon(66.45% 68.143%, 68.25% 72.143%, 62.05% 86.143%);
  background-color: #7E5C3F;
}

.sloth:nth-child(29) {
  -webkit-clip-path: polygon(71.45% 69.714%, 73.55% 73.857%, 71.35% 85.429%);
  background-color: #B48461;
}

.section-4-posi:hover .sloth:nth-child(1) {
  -webkit-clip-path: polygon(26.4% 36.714%, 40% 31%, 30.6% 44%);
  background-color: #893926;
}

.section-4-posi:hover .sloth:nth-child(2) {
  -webkit-clip-path: polygon(30.6% 43.571%, 40% 31%, 41.1% 50.857%);
  background-color: #370A02;
}

.section-4-posi:hover .sloth:nth-child(3) {
  -webkit-clip-path: polygon(30.6% 43.286%, 41.1% 50.714%, 27.9% 85%);
  background-color: #351A16;
}

.section-4-posi:hover .sloth:nth-child(4) {
  -webkit-clip-path: polygon(15.7% 50.857%, 25.8% 35.143%, 25.3% 48.429%);
  background-color: #C0684A;
}

.section-4-posi:hover .sloth:nth-child(5) {
  -webkit-clip-path: polygon(18.6% 46.429%, 16.2% 37.429%, 23.1% 39.429%);
  background-color: #DAD1BA;
}

.section-4-posi:hover .sloth:nth-child(6) {
  -webkit-clip-path: polygon(15.6% 50.714%, 25.4% 48.286%, 25.9% 62.143%);
  background-color: #EBDECD;
}

.section-4-posi:hover .sloth:nth-child(7) {
  -webkit-clip-path: polygon(22% 49.143%, 25.3% 48.3%, 19.8% 55.286%);
  background-color: #603122;
}

.section-4-posi:hover .sloth:nth-child(8) {
  -webkit-clip-path: polygon(25.2% 48.429%, 25.8% 35%, 36.2% 52.143%);
  background-color: #894338;
}

.section-4-posi:hover .sloth:nth-child(9) {
  -webkit-clip-path: polygon(25.2% 48.286%, 36.1% 52.143%, 25.8% 62%);
  background-color: #F9F0E2;
}

.section-4-posi:hover .sloth:nth-child(10) {
  -webkit-clip-path: polygon(25.2% 48.3%, 28.4% 49.3%, 31.7% 56.429%);
  background-color: #603122;
}

.section-4-posi:hover .sloth:nth-child(11) {
  -webkit-clip-path: polygon(25.5% 56.571%, 27.8% 59.857%, 23.9% 60%);
  background-color: #050505;
}

.section-4-posi:hover .sloth:nth-child(12) {
  -webkit-clip-path: polygon(28.3% 39.286%, 35.7% 37%, 33.6% 47.714%);
  background-color: #DAC79D;
}

.section-4-posi:hover .sloth:nth-child(13) {
  -webkit-clip-path: polygon(29.6% 62.286%, 41% 50.571%, 36.2% 85.429%);
  background-color: #220B11;
}

.section-4-posi:hover .sloth:nth-child(14) {
  -webkit-clip-path: polygon(39.9% 31%, 50.9% 46.857%, 41% 50.99%);
  background-color: #63290D;
}

.section-4-posi:hover .sloth:nth-child(15) {
  -webkit-clip-path: polygon(40.9% 50.857%, 50.9% 46.857%, 39% 65.143%);
  background-color: #53170A;
}

.section-4-posi:hover .sloth:nth-child(16) {
  -webkit-clip-path: polygon(39.9% 31%, 49.9% 30.143%, 50.8% 47%);
  background-color: #94431F;
}

.section-4-posi:hover .sloth:nth-child(17) {
  -webkit-clip-path: polygon(38.9% 65%, 50.9% 46.6%, 61.1% 66.143%);
  background-color: #3D0F08;
}

.section-4-posi:hover .sloth:nth-child(18) {
  -webkit-clip-path: polygon(38.9% 65.143%, 44.4% 56.7%, 50.5% 65.714%);
  background-color: #190F0D;
}

.section-4-posi:hover .sloth:nth-child(19) {
  -webkit-clip-path: polygon(50.4% 65.6%, 56.2% 57.143%, 61% 66.4%);
  background-color: #190F0D;
}

.section-4-posi:hover .sloth:nth-child(20) {
  -webkit-clip-path: polygon(50.8% 47%, 49.7% 30.143%, 63.8% 37%);
  background-color: #7C300F;
}

.section-4-posi:hover .sloth:nth-child(21) {
  -webkit-clip-path: polygon(49.6% 30.143%, 63.7% 37%, 60.5% 39.571%);
  background-color: #A6462B;
}

.section-4-posi:hover .sloth:nth-child(22) {
  -webkit-clip-path: polygon(50.8% 46.857%, 63.7% 36.857%, 68.2% 51.8%);
  background-color: #68210C;
}

.section-4-posi:hover .sloth:nth-child(23) {
  -webkit-clip-path: polygon(50.9% 46.714%, 68.1% 51.714%, 61.1% 66.286%);
  background-color: #722B12;
}

.section-4-posi:hover .sloth:nth-child(24) {
  -webkit-clip-path: polygon(50.5% 65.571%, 61% 66.286%, 53.1% 87.286%);
  background-color: #2E1616;
}

.section-4-posi:hover .sloth:nth-child(25) {
  -webkit-clip-path: polygon(54.5% 83.429%, 59.6% 69.857%, 59.6% 83.714%);
  background-color: #0A0A0D;
}

.section-4-posi:hover .sloth:nth-child(26) {
  -webkit-clip-path: polygon(61.1% 66.143%, 68.1% 51.714%, 71.4% 63.143%);
  background-color: #4F1904;
}

.section-4-posi:hover .sloth:nth-child(27) {
  -webkit-clip-path: polygon(64.9% 40.857%, 81.6% 57.286%, 71.3% 63.286%);
  background-color: #621B15;
}

.section-4-posi:hover .sloth:nth-child(28) {
  -webkit-clip-path: polygon(71.3% 63.143%, 81.5% 57.143%, 84.7% 69.857%);
  background-color: #621B15;
}

.section-4-posi:hover .sloth:nth-child(29) {
  -webkit-clip-path: polygon(71.4% 63%, 84.7% 69.714%, 78.4% 75.429%);
  background-color: #1B1517;
}

.section-4-posi:hover .sloth:nth-child(30) {
  -webkit-clip-path: polygon(71.4% 78.571%, 84.7% 69.857%, 79.3% 81.571%);
  background-color: #2D2022;
}

.kapao:nth-child(1) {
  -webkit-clip-path: polygon(38.65% 66%, 40.75% 84.429%, 47.85% 70%);
  background-color: #000;
}

.kapao:nth-child(2) {
  -webkit-clip-path: polygon(38.65% 66.143%, 47.85% 70%, 54.65% 46.286%);
  background-color: #141414;
}

.kapao:nth-child(3) {
  -webkit-clip-path: polygon(38.15% 57.857%, 33.65% 84.571%, 52.75% 51%);
  background-color: #2D2D31;
}

.kapao:nth-child(4) {
  -webkit-clip-path: polygon(44.65% 39.571%, 36.85% 59.429%, 52.85% 50.857%);
  background-color: #37383A;
}

.kapao:nth-child(5) {
  -webkit-clip-path: polygon(45.85% 41.4%, 52.75% 50.857%, 55.2% 38.286%);
  background-color: #29292E;
}

.kapao:nth-child(6) {
  -webkit-clip-path: polygon(47.55% 27.143%, 41.25% 45.714%, 55.05% 38.429%);
  background-color: #464649;
}

.kapao:nth-child(7) {
  -webkit-clip-path: polygon(40.75% 84.571%, 52.35% 85%, 49.05% 89.857%);
  background-color: #1E1D21;
}

.kapao:nth-child(8) {
  -webkit-clip-path: polygon(46.95% 81.714%, 58.95% 81.143%, 55.75% 85.571%);
  background-color: #1E1D21;
}

.kapao:nth-child(9) {
  -webkit-clip-path: polygon(47.55% 27.143%, 61.15% 21.714%, 55.05% 38.429%);
  background-color: #D8D8DD;
}

.kapao:nth-child(10) {
  -webkit-clip-path: polygon(47.55% 27.143%, 48.25% 13.143%, 50.55% 25.857%);
  background-color: #ABABB5;
}

.kapao:nth-child(11) {
  -webkit-clip-path: polygon(48.25% 13.143%, 53.85% 7.857%, 49.05% 17.714%);
  background-color: #CCCECD;
}

.kapao:nth-child(12) {
  -webkit-clip-path: polygon(49.05% 17.714%, 52.15% 11.286%, 50.55% 25.857%);
  background-color: #1C1C1E;
}

.kapao:nth-child(13) {
  -webkit-clip-path: polygon(52.15% 11.286%, 53.65% 7.714%, 59.65% 10.571%);
  background-color: #faf9fa;
}

.kapao:nth-child(14) {
  -webkit-clip-path: polygon(52.1% 11.4%, 59.8% 10.5%, 57.65% 15.7%);
  background-color: #b580a7;
}

.kapao:nth-child(15) {
  -webkit-clip-path: polygon(52.05% 11.286%, 60.55% 18%, 50.45% 25.857%);
  background-color: #32323C;
}

.kapao:nth-child(16) {
  -webkit-clip-path: polygon(50.45% 25.857%, 60.45% 17.857%, 61.15% 21.714%);
  background-color: #141414;
}

.kapao:nth-child(17) {
  -webkit-clip-path: polygon(57.65% 15.714%, 59.75% 10.571%, 66.75% 14.571%);
  background-color: #3C363E;
}

.kapao:nth-child(18) {
  -webkit-clip-path: polygon(57.5% 15.6%, 66.75% 14.571%, 60.45% 18%);
  background-color: #000;
}

.kapao:nth-child(19) {
  -webkit-clip-path: polygon(55.25% 41%, 57.05% 74.429%, 47.95% 69.857%);
  background-color: #a7a6a1;
}

.kapao:nth-child(20) {
  -webkit-clip-path: polygon(61.45% 15.143%, 62.95% 12.429%, 62.65% 15%);
  background-color: #726672;
}

.kapao:nth-child(21) {
  -webkit-clip-path: polygon(61.45% 15.143%, 62.65% 15%, 62.95% 16.571%);
  background-color: #4E434B;
}

.kapao:nth-child(22) {
  -webkit-clip-path: polygon(54.95% 38.429%, 61.15% 21.714%, 64.15% 32.429%);
  background-color: #F2F2F2;
}

.kapao:nth-child(23) {
  -webkit-clip-path: polygon(55.05% 38.286%, 64.05% 32.429%, 53.25% 48.143%);
  background-color: #141414;
}

.kapao:nth-child(24) {
  -webkit-clip-path: polygon(55.35% 45%, 64% 32.429%, 64% 37.143%);
  background-color: #3e3c40;
}

.kapao:nth-child(25) {
  -webkit-clip-path: polygon(55.45% 45%, 64.05% 37%, 63.75% 51.286%);
  background-color: #CCCECD;
}

.kapao:nth-child(26) {
  -webkit-clip-path: polygon(55.45% 44.857%, 63.75% 51.143%, 57.05% 74.429%);
  background-color: #bfc2c1;
}

.kapao:nth-child(27) {
  -webkit-clip-path: polygon(59.55% 65.714%, 63.05% 53.571%, 65.45% 73.429%);
  background-color: #000000;
}

.kapao:nth-child(28) {
  -webkit-clip-path: polygon(59.65% 48.143%, 61.05% 49.143%, 59.95% 50.143%);
  background-color: #29292e;
}

.kapao:nth-child(29) {
  -webkit-clip-path: polygon(40.65% 84.571%, 47.85% 69.714%, 57.2% 74.3%);
  background-color: #84817d;
}

.kapao:nth-child(30) {
  -webkit-clip-path: polygon(40.85% 84.5%, 57.1% 74.2%, 51.75% 81.857%);
  background-color: #756e60;
}

.section-4-posi2:hover .kapao:nth-child(1) {
  -webkit-clip-path: polygon(26.8% 72.714%, 28.9% 37.714%, 33.5% 54.286%);
  background-color: #C5C2BF;
}

.section-4-posi2:hover .kapao:nth-child(2) {
  -webkit-clip-path: polygon(26.8% 72.714%, 30.7% 61.571%, 27.8% 85%);
  background-color: #F5F7ED;
}

.section-4-posi2:hover .kapao:nth-child(3) {
  -webkit-clip-path: polygon(28.9% 37.714%, 33.1% 29%, 30.5% 44.5%);
  background-color: #662424;
}

.section-4-posi2:hover .kapao:nth-child(4) {
  -webkit-clip-path: polygon(30.4% 44.143%, 33.1% 28.857%, 43.3% 38%);
  background-color: #321D21;
}

.section-4-posi2:hover .kapao:nth-child(5) {
  -webkit-clip-path: polygon(30.4% 44%, 43.3% 37.714%, 33.3% 54.857%);
  background-color: #3C2832;
}

.section-4-posi2:hover .kapao:nth-child(6) {
  -webkit-clip-path: polygon(33.2% 54.714%, 42.9% 37.857%, 38.1% 60.143%);
  background-color: #6B4243;
}

.section-4-posi2:hover .kapao:nth-child(7) {
  -webkit-clip-path: polygon(33.2% 54.571%, 38.1% 59.857%, 33.4% 75.429%);
  background-color: #CDCAC3;
}

.section-4-posi2:hover .kapao:nth-child(8) {
  -webkit-clip-path: polygon(33.4% 75.286%, 35.6% 68%, 37.2% 84.143%);
  background-color: #F8F8F8;
}

.section-4-posi2:hover .kapao:nth-child(9) {
  -webkit-clip-path: polygon(33.1% 29%, 45.2% 27.714%, 43% 38%);
  background-color: #50272D;
}

.section-4-posi2:hover .kapao:nth-child(10) {
  -webkit-clip-path: polygon(45.2% 27.714%, 55.7% 46%, 38.6% 57.286%);
  background-color: #543539;
}

.section-4-posi2:hover .kapao:nth-child(11) {
  -webkit-clip-path: polygon(45.1% 27.857%, 57.7% 24.429%, 55.5% 46%);
  background-color: #321D27;
}

.section-4-posi2:hover .kapao:nth-child(12) {
  -webkit-clip-path: polygon(38.6% 57.286%, 55.5% 45.857%, 56% 56%);
  background-color: #271E28;
}

.section-4-posi2:hover .kapao:nth-child(13) {
  -webkit-clip-path: polygon(55.4% 45.857%, 57.7% 24.429%, 63.4% 35%);
  background-color: #180F14;
}

.section-4-posi2:hover .kapao:nth-child(14) {
  -webkit-clip-path: polygon(55.4% 45.857%, 63.4% 34.857%, 59.3% 59.714%);
  background-color: #1E1E26;
}

.section-4-posi2:hover .kapao:nth-child(15) {
  -webkit-clip-path: polygon(55.4% 45.714%, 59.3% 59.571%, 55.9% 58%);
  background-color: #1C1616;
}

.section-4-posi2:hover .kapao:nth-child(16) {
  -webkit-clip-path: polygon(51.6% 56.429%, 55.8% 56.143%, 53.2% 69.571%);
  background-color: #C5C2BF;
}

.section-4-posi2:hover .kapao:nth-child(17) {
  -webkit-clip-path: polygon(52.3% 61.857%, 54.9% 81.714%, 51.4% 81.857%);
  background-color: #F2F2F2;
}

.section-4-posi2:hover .kapao:nth-child(18) {
  -webkit-clip-path: polygon(55.9% 58%, 59.4% 59.286%, 58.7% 83.714%);
  background-color: #F2F2F2;
}

.section-4-posi2:hover .kapao:nth-child(19) {
  -webkit-clip-path: polygon(57.6% 24.571%, 69.1% 18.143%, 68.8% 24.714%);
  background-color: #533438;
}

.section-4-posi2:hover .kapao:nth-child(20) {
  -webkit-clip-path: polygon(57.6% 24.429%, 74.9% 24.714%, 63.4% 35.143%);
  background-color: #362127;
}

.section-4-posi2:hover .kapao:nth-child(21) {
  -webkit-clip-path: polygon(63.3% 35%, 71.8% 27%, 61.8% 44.429%);
  background-color: #0A0C0C;
}

.section-4-posi2:hover .kapao:nth-child(22) {
  -webkit-clip-path: polygon(68.8% 24.714%, 69.2% 18.143%, 74.1% 32%);
  background-color: #C5C2BF;
}

.section-4-posi2:hover .kapao:nth-child(23) {
  -webkit-clip-path: polygon(69.1% 18%, 72.6% 14%, 74.1% 31.857%);
  background-color: #D6D2D4;
}

.section-4-posi2:hover .kapao:nth-child(24) {
  -webkit-clip-path: polygon(73.4% 16.286%, 77.5% 11%, 76.6% 17.429%);
  background-color: #5A3F44;
}

.section-4-posi2:hover .kapao:nth-child(25) {
  -webkit-clip-path: polygon(71.4% 20%, 72.6% 14%, 76.7% 20%);
  background-color: #8F4847;
}

.section-4-posi2:hover .kapao:nth-child(26) {
  -webkit-clip-path: polygon(71.5% 19.857%, 76.7% 20%, 77.1% 27.857%);
  background-color: #47292B;
}

.section-4-posi2:hover .kapao:nth-child(27) {
  -webkit-clip-path: polygon(71.45% 19.8%, 73.3% 22.4%, 71.6% 23%);
  background-color: #020621;
}

.section-4-posi2:hover .kapao:nth-child(28) {
  -webkit-clip-path: polygon(73.3% 22.571%, 77.1% 28%, 74.1% 32.143%);
  background-color: #E3E3E3;
}

.section-4-posi2:hover .kapao:nth-child(29) {
  -webkit-clip-path: polygon(74% 32%, 77.1% 27.857%, 77.3% 32%);
  background-color: #292E46;
}

.section-4-posi2:hover .kapao:nth-child(30) {
  -webkit-clip-path: polygon(69.1% 18.286%, 68.6% 10.429%, 71.9% 15%);
  background-color: #321D21;
}

.drill:nth-child(1) {
  -webkit-clip-path: polygon(29.3% 35.214%, 38.4% 57.3%, 28.6% 54.357%);
  background-color: #ADA391;
}

.drill:nth-child(2) {
  -webkit-clip-path: polygon(28.6% 34.643%, 49.4% 40.357%, 38.3% 57.214%);
  background-color: #948876;
}

.drill:nth-child(3) {
  -webkit-clip-path: polygon(37.4% 27.643%, 48.9% 40.643%, 29.4% 35.071%);
  background-color: #A18F73;
}

.drill:nth-child(4) {
  -webkit-clip-path: polygon(37.5% 27.929%, 63.9% 42.214%, 48.8% 40.786%);
  background-color: #AD9E86;
}

.drill:nth-child(5) {
  -webkit-clip-path: polygon(25.7% 25.214%, 31.6% 32.786%, 30.1% 43.071%);
  background-color: #D6D8D6;
}

.drill:nth-child(6) {
  -webkit-clip-path: polygon(22.7% 26.929%, 25.7% 25.214%, 30% 43.071%);
  background-color: #75736C;
}

.drill:nth-child(7) {
  -webkit-clip-path: polygon(25.6% 25.214%, 32.8% 15.643%, 32.9% 34.643%);
  background-color: #A3978B;
}

.drill:nth-child(8) {
  -webkit-clip-path: polygon(32.8% 15.643%, 39.9% 25.214%, 32.7% 34.786%);
  background-color: #B2A394;
}

.drill:nth-child(9) {
  -webkit-clip-path: polygon(26.9% 23.5%, 26% 13.643%, 31.2% 17.929%);
  background-color: #776356;
}

.drill:nth-child(10) {
  -webkit-clip-path: polygon(23.2% 9.5%, 31.2% 17.929%, 25.9% 14.357%);
  background-color: #282821;
}

.drill:nth-child(11) {
  -webkit-clip-path: polygon(34.5% 17.929%, 42.3% 9.786%, 39.6% 14.5%);
  background-color: #282821;
}

.drill:nth-child(12) {
  -webkit-clip-path: polygon(34.4% 18.071%, 39.7% 14.214%, 38.6% 23.5%);
  background-color: #776356;
}

.drill:nth-child(13) {
  -webkit-clip-path: polygon(33.9% 31.929%, 39.9% 25.357%, 35.6% 43.071%);
  background-color: #D6D8D6;
}

.drill:nth-child(14) {
  -webkit-clip-path: polygon(39.9% 25.214%, 42.9% 27.071%, 35.6% 42.929%);
  background-color: #75736C;
}

.drill:nth-child(15) {
  -webkit-clip-path: polygon(28.2% 33.5%, 32.8% 24.786%, 37.3% 33.5%);
  background-color: #BAAFA1;
}

.drill:nth-child(16) {
  -webkit-clip-path: polygon(28.2% 33.5%, 37.3% 33.5%, 32.7% 37.643%);
  background-color: #E4DCD8;
}

.drill:nth-child(17) {
  -webkit-clip-path: polygon(30.4% 32.214%, 35.1% 32.214%, 32.8% 35.214%);
  background-color: #7C5D65;
}

.drill:nth-child(18) {
  -webkit-clip-path: polygon(29.3% 54.357%, 35.5% 56.357%, 33.8% 84.357%);
  background-color: #867A68;
}

.drill:nth-child(19) {
  -webkit-clip-path: polygon(32.3% 73.5%, 34.2% 85.357%, 29.3% 85.357%);
  background-color: #998B77;
}

.drill:nth-child(20) {
  -webkit-clip-path: polygon(48.9% 40.643%, 44.5% 85.643%, 39.7% 85.643%);
  background-color: #AD9E8C;
}

.drill:nth-child(21) {
  -webkit-clip-path: polygon(38.2% 57.071%, 49% 40.5%, 46.6% 62.357%);
  background-color: #887D6E;
}

.drill:nth-child(22) {
  -webkit-clip-path: polygon(48.9% 40.5%, 62.3% 41.929%, 60% 62.357%);
  background-color: #8F8373;
}

.drill:nth-child(23) {
  -webkit-clip-path: polygon(48.9% 40.5%, 60.1% 61.786%, 46.6% 62.214%);
  background-color: #807465;
}

.drill:nth-child(24) {
  -webkit-clip-path: polygon(46.6% 62.1%, 60.1% 61.5%, 59.6% 78.643%);
  background-color: #776B5D;
}

.drill:nth-child(25) {
  -webkit-clip-path: polygon(62.2% 42.214%, 76.9% 70.357%, 59.9% 62.5%);
  background-color: #948876;
}

.drill:nth-child(26) {
  -webkit-clip-path: polygon(56.9% 60.071%, 75.9% 69.643%, 77.6% 84.214%);
  background-color: #AD9E8C;
}

.drill:nth-child(27) {
  -webkit-clip-path: polygon(57% 59.929%, 77.7% 84.414%, 60.3% 83.786%);
  background-color: #948876;
}

.drill:nth-child(28) {
  -webkit-clip-path: polygon(59.1% 74.929%, 63.5% 85.643%, 55.6% 85.643%);
  background-color: #A89A89;
}

.drill:nth-child(29) {
  -webkit-clip-path: polygon(76.9% 77.929%, 84.3% 76.214%, 77.6% 83.214%);
  background-color: #8F7E6A;
}

.drill:nth-child(30) {
  -webkit-clip-path: polygon(82.2% 76.786%, 85.1% 69.929%, 84.3% 76.357%);
  background-color: #6D6148;
}

.section-4-posi3:hover .drill:nth-child(1) {
  -webkit-clip-path: polygon(28.35% 15.214%, 31.45% 10.2%, 31.7% 19.5%);
  background-color: #BAA284;
}

.section-4-posi3:hover .drill:nth-child(2) {
  -webkit-clip-path: polygon(31.35% 10.214%, 34.25% 17.5%, 31.45% 19.357%);
  background-color: #9E856B;
}

.section-4-posi3:hover .drill:nth-child(3) {
  -webkit-clip-path: polygon(31.35% 10.357%, 36.15% 3.357%, 38.95% 12.071%);
  background-color: #473C32;
}

.section-4-posi3:hover .drill:nth-child(4) {
  -webkit-clip-path: polygon(31.35% 10.14%, 38.85% 11.929%, 34.05% 17.643%);
  background-color: #4D4135;
}

.section-4-posi3:hover .drill:nth-child(5) {
  -webkit-clip-path: polygon(34.05% 17.5%, 38.75% 11.786%, 41.15% 17.643%);
  background-color: #302922;
}

.section-4-posi3:hover .drill:nth-child(6) {
  -webkit-clip-path: polygon(36.05% 3.5%, 41.55% 2.357%, 38.85% 12.214%);
  background-color: #564533;
}

.section-4-posi3:hover .drill:nth-child(7) {
  -webkit-clip-path: polygon(38.75% 12.071%, 41.25% 2.929%, 50.65% 13.5%);
  background-color: #403429;
}

.section-4-posi3:hover .drill:nth-child(8) {
  -webkit-clip-path: polygon(38.75% 11.9%, 49.9% 13.357%, 41.05% 17.643%);
  background-color: #342A1F;
}

.section-4-posi3:hover .drill:nth-child(9) {
  -webkit-clip-path: polygon(41.15% 2.929%, 51.55% 8.786%, 49.65% 13.5%);
  background-color: #4D4135;
}

.section-4-posi3:hover .drill:nth-child(10) {
  -webkit-clip-path: polygon(41.05% 17.357%, 49.65% 13.357%, 53.35% 42.357%);
  background-color: #2C2317;
}

.section-4-posi3:hover .drill:nth-child(11) {
  -webkit-clip-path: polygon(48.65% 18.5%, 50.25% 8.214%, 59.35% 18.214%);
  background-color: #473C32;
}

.section-4-posi3:hover .drill:nth-child(12) {
  -webkit-clip-path: polygon(41.1% 17.3%, 53.55% 42.214%, 45.05% 46.643%);
  background-color: #242017;
}

.section-4-posi3:hover .drill:nth-child(13) {
  -webkit-clip-path: polygon(41.85% 19.357%, 45.25% 21.357%, 45.75% 28.643%);
  background-color: #A37431;
}

.section-4-posi3:hover .drill:nth-child(14) {
  -webkit-clip-path: polygon(45.15% 21.214%, 48.75% 18.5%, 45.65% 28.5%);
  background-color: #CB9A57;
}

.section-4-posi3:hover .drill:nth-child(15) {
  -webkit-clip-path: polygon(48.5% 18.5%, 58.65% 18.03%, 61.45% 27.99%);
  background-color: #4C4237;
}

.section-4-posi3:hover .drill:nth-child(16) {
  -webkit-clip-path: polygon(58.05% 25.357%, 62.45% 48.4%, 52.35% 62.9%);
  background-color: #352D25;
}

.section-4-posi3:hover .drill:nth-child(17) {
  -webkit-clip-path: polygon(48.55% 18.5%, 61.05% 27.5%, 60.55% 42.357%);
  background-color: #554738;
}

.section-4-posi3:hover .drill:nth-child(18) {
  -webkit-clip-path: polygon(42.6% 27.929%, 44.4% 41.214%, 38.45% 45.214%);
  background-color: #262420;
}

.section-4-posi3:hover .drill:nth-child(19) {
  -webkit-clip-path: polygon(35.05% 44.5%, 40.4% 37.357%, 37.55% 53.214%);
  background-color: #403429;
}

.section-4-posi3:hover .drill:nth-child(20) {
  -webkit-clip-path: polygon(45.05% 46.357%, 56.05% 40.786%, 52.55% 62.786%);
  background-color: #292418;
}

.section-4-posi3:hover .drill:nth-child(21) {
  -webkit-clip-path: polygon(48.65% 18.643%, 60.25% 41.786%, 53.15% 41.929%);
  background-color: #483A2E;
}

.section-4-posi3:hover .drill:nth-child(22) {
  -webkit-clip-path: polygon(45.15% 46.357%, 52.65% 62.643%, 42.68% 61.2%);
  background-color: #362F20;
}

.section-4-posi3:hover .drill:nth-child(23) {
  -webkit-clip-path: polygon(46.65% 58.643%, 53.25% 41.643%, 60.35% 41.643%);
  background-color: #504135;
}

.section-4-posi3:hover .drill:nth-child(24) {
  -webkit-clip-path: polygon(42.65% 60.929%, 52.65% 62.5%, 45.45% 74.071%);
  background-color: #302917;
}

.section-4-posi3:hover .drill:nth-child(25) {
  -webkit-clip-path: polygon(42.75% 60.929%, 48.05% 84.786%, 42.75% 84.786%);
  background-color: #3A322B;
}

.section-4-posi3:hover .drill:nth-child(26) {
  -webkit-clip-path: polygon(45.45% 73.786%, 52.55% 62.071%, 53.95% 66.5%);
  background-color: #29251B;
}

.section-4-posi3:hover .drill:nth-child(27) {
  -webkit-clip-path: polygon(52.45% 62.643%, 62.45% 48.214%, 60.65% 68.929%);
  background-color: #4C3E32;
}

.section-4-posi3:hover .drill:nth-child(28) {
  -webkit-clip-path: polygon(52.55% 62.5%, 60.75% 68.786%, 58.55% 79.929%);
  background-color: #342C27;
}

.section-4-posi3:hover .drill:nth-child(29) {
  -webkit-clip-path: polygon(60.65% 68.643%, 60.95% 86.5%, 56.65% 86.5%);
  background-color: #3A322E;
}

.section-4-posi3:hover .drill:nth-child(30) {
  -webkit-clip-path: polygon(28.25% 15.214%, 29.05% 14.071%, 29.55% 16.786%);
  background-color: #4C3E32;
}

.sloth,
.kapao,
.drill {
  width: 300px;
  height: 300px;
  position: absolute;
  transition: 2s;
}

.slow-1,
.slow-2,
.slow-3,
.slow-4,
.slow-5 {
  position: absolute;
  bottom: 20%;
  left: 40%;
  margin-bottom: -20px;
  margin-left: -40px;
  width: 80px;
  height: 40px;
  border: 2px solid #333;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}

.slow-2 {
  left: 45%;
}

.slow-3 {
  left: 50%;
}

.slow-4 {
  left: 55%;
}

.slow-5 {
  left: 60%;
}

.slow-1:hover,
.slow-2:hover,
.slow-3:hover,
.slow-4:hover,
.slow-5:hover {
  color: #fff;
  background-color: orangered;
  border: 2px solid transparent;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(1) {
  -webkit-clip-path: polygon(14.4% 77.429%, 22.2% 61.143%, 23.9% 63.429%);
  background-color: #7C6E69;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(2) {
  -webkit-clip-path: polygon(14.4% 77.286%, 20.5% 68.143%, 15.7% 77.429%);
  background-color: #635B53;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(3) {
  -webkit-clip-path: polygon(22.2% 61.286%, 29.9% 46.857%, 23.8% 63.571%);
  background-color: #5E4648;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(4) {
  -webkit-clip-path: polygon(23.5% 63.7%, 30% 46.7%, 33.5% 55.6%);
  background-color: #3C2628;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(5) {
  -webkit-clip-path: polygon(23.6% 63.571%, 33.4% 55.429%, 32.3% 64.286%);
  background-color: #24181A;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(6) {
  -webkit-clip-path: polygon(23.6% 63.429%, 26.9% 63.714%, 19.9% 69.286%);
  background-color: #131214;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(7) {
  -webkit-clip-path: polygon(24.8% 60.571%, 26% 57.429%, 27.2% 58.571%);
  background-color: #171715;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(8) {
  -webkit-clip-path: polygon(29.9% 46.714%, 40.9% 53.857%, 33.3% 55.429%);
  background-color: #432D32;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(9) {
  -webkit-clip-path: polygon(33.2% 55.286%, 40.7% 53.75%, 32.1% 64.143%);
  background-color: #331F1F;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(10) {
  -webkit-clip-path: polygon(29.8% 46.857%, 40.5% 41.857%, 40.7% 53.857%);
  background-color: #513838;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(11) {
  -webkit-clip-path: polygon(49.4% 80.77%, 50.8% 69.05%, 42.1% 68.286%);
  background-color: #1D1414;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(12) {
  -webkit-clip-path: polygon(40.5% 53.714%, 45.2% 69.286%, 31.8% 64.4%);
  background-color: #402729;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(13) {
  -webkit-clip-path: polygon(32.8% 54%, 34.3% 53.571%, 34.1% 57%);
  background-color: #CBC0B6;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(14) {
  -webkit-clip-path: polygon(26% 77.286%, 36% 72%, 29.4% 84.143%);
  background-color: #24181A;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(15) {
  -webkit-clip-path: polygon(32.1% 64.286%, 45.2% 69.286%, 26% 77.429%);
  background-color: #513838;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(16) {
  -webkit-clip-path: polygon(40.4% 53.99%, 54.2% 34%, 55.9% 48.857%);
  background-color: #543C3E;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(17) {
  -webkit-clip-path: polygon(40.4% 54.1%, 40.4% 43.571%, 54.2% 34.1%);
  background-color: #4A3232;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(18) {
  -webkit-clip-path: polygon(40.5% 53.857%, 55.7% 48.571%, 54.6% 61.143%);
  background-color: #412828;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(19) {
  -webkit-clip-path: polygon(40.4% 53.7%, 54.8% 61.1%, 45.1% 69.286%);
  background-color: #483330;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(20) {
  -webkit-clip-path: polygon(45% 69.4%, 54.3% 60.7%, 62.2% 71.1%);
  background-color: #2B2124;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(21) {
  -webkit-clip-path: polygon(55.7% 48.571%, 54.1% 34.143%, 70.1% 42.714%);
  background-color: #442E2E;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(22) {
  -webkit-clip-path: polygon(55.6% 48.429%, 68.1% 57.93%, 54.5% 61.286%);
  background-color: #362424;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(23) {
  -webkit-clip-path: polygon(55.5% 48.5%, 69.4% 42.857%, 67.95% 57.99%);
  background-color: #3B2524;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(24) {
  -webkit-clip-path: polygon(54.5% 61.143%, 67.9% 57.857%, 65.1% 75.3%);
  background-color: #412828;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(25) {
  -webkit-clip-path: polygon(48.7% 66%, 50.6% 67.571%, 47% 67.571%);
  background-color: #CABFB5;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(26) {
  -webkit-clip-path: polygon(60.4% 66.571%, 62.6% 65.857%, 61.2% 68.143%);
  background-color: #CBC0B6;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(27) {
  -webkit-clip-path: polygon(69.3% 42.857%, 77.8% 62.286%, 67.9% 57.714%);
  background-color: #2B2124;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(28) {
  -webkit-clip-path: polygon(67.8% 57.5%, 77.9% 62.186%, 64.9% 75.3%);
  background-color: #312324;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(29) {
  -webkit-clip-path: polygon(64.83% 75.143%, 77.7% 62.286%, 66.6% 84.143%);
  background-color: #24181A;
}

.slow-1:hover~.section-4-posi .sloth:nth-child(30) {
  -webkit-clip-path: polygon(64.9% 75%, 66.7% 84%, 62.6% 84%);
  background-color: #422A2D;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(1) {
  -webkit-clip-path: polygon(20.25% 49.857%, 30.75% 51.286%, 32.55% 58.714%);
  background-color: #BDC2A3;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(2) {
  -webkit-clip-path: polygon(26.35% 55.857%, 32.45% 58.714%, 22.95% 70.571%);
  background-color: #3C6268;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(3) {
  -webkit-clip-path: polygon(22.65% 61%, 26.45% 56.286%, 22.95% 70.429%);
  background-color: #1B4859;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(4) {
  -webkit-clip-path: polygon(10.65% 58.714%, 20.05% 52.143%, 30.85% 51.857%);
  background-color: #62726F;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(5) {
  -webkit-clip-path: polygon(10.55% 58.571%, 30.85% 51.857%, 25.45% 59.143%);
  background-color: #B7C8C0;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(6) {
  -webkit-clip-path: polygon(17.95% 50.143%, 23.5% 45.1%, 31.05% 52%);
  background-color: #487378;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(7) {
  -webkit-clip-path: polygon(23.45% 45.143%, 44.45% 35.571%, 30.85% 52%);
  background-color: #4F7F86;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(8) {
  -webkit-clip-path: polygon(30.75% 51.857%, 40.9% 60.95%, 32.35% 58.571%);
  background-color: #AEAF95;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(9) {
  -webkit-clip-path: polygon(30.75% 51.857%, 42.15% 53.571%, 40.55% 60.714%);
  background-color: #A2A390;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(10) {
  -webkit-clip-path: polygon(40.55% 60.857%, 42.15% 51.286%, 58.4% 58.429%);
  background-color: #AEB49D;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(11) {
  -webkit-clip-path: polygon(40.25% 50.286%, 55.75% 46.571%, 57.85% 58.571%);
  background-color: #9FAB9E;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(12) {
  -webkit-clip-path: polygon(30.85% 51.857%, 44.45% 35.571%, 43.55% 54.429%);
  background-color: #407177;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(13) {
  -webkit-clip-path: polygon(43.45% 54.571%, 44.35% 35.5%, 55.3% 47.714%);
  background-color: #4C838B;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(14) {
  -webkit-clip-path: polygon(44.3% 35.571%, 62.45% 36.714%, 55.15% 47.857%);
  background-color: #598B91;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(15) {
  -webkit-clip-path: polygon(55.15% 47.714%, 62.5% 36.714%, 66.05% 50.714%);
  background-color: #39676F;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(16) {
  -webkit-clip-path: polygon(55.65% 47.857%, 65.95% 50.571%, 57.75% 58.571%);
  background-color: #BEBEAA;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(17) {
  -webkit-clip-path: polygon(57.65% 58.571%, 65.95% 50.571%, 66.85% 55.714%);
  background-color: #A9AB96;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(18) {
  -webkit-clip-path: polygon(66% 50.6%, 64.45% 45%, 75.75% 46.429%);
  background-color: #377C81;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(19) {
  -webkit-clip-path: polygon(64.45% 45.1%, 75.65% 43.714%, 75.65% 46.571%);
  background-color: #48949F;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(20) {
  -webkit-clip-path: polygon(65.85% 50.571%, 75.8% 46.429%, 75.6% 53.99%);
  background-color: #2B484A;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(21) {
  -webkit-clip-path: polygon(65.85% 50.571%, 80.05% 55.286%, 66.75% 55.714%);
  background-color: #CFCAB7;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(22) {
  -webkit-clip-path: polygon(55.05% 51.571%, 58.25% 41.429%, 67.05% 41.714%);
  background-color: #C2D5D9;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(23) {
  -webkit-clip-path: polygon(58.25% 41.571%, 65.85% 21.714%, 67.05% 41.714%);
  background-color: #ADC4BA;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(24) {
  -webkit-clip-path: polygon(58.25% 41.571%, 60.45% 19.429%, 65.95% 21.857%);
  background-color: #507B7D;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(25) {
  -webkit-clip-path: polygon(60.55% 19.714%, 59.95% 10%, 65.95% 22%);
  background-color: #13302F;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(26) {
  -webkit-clip-path: polygon(75.55% 43.714%, 82.55% 49.857%, 75.65% 46.714%);
  background-color: #80A59F;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(27) {
  -webkit-clip-path: polygon(75.65% 46.429%, 82.45% 49.857%, 75.45% 54%);
  background-color: #4F5B5B;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(28) {
  -webkit-clip-path: polygon(75.35% 53.857%, 82.35% 49.857%, 80.75% 54.429%);
  background-color: #5A696A;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(29) {
  -webkit-clip-path: polygon(80.65% 54.286%, 82.45% 49.857%, 82.05% 56%);
  background-color: #6B7879;
}

.slow-2:hover~.section-4-posi .sloth:nth-child(30) {
  -webkit-clip-path: polygon(78.15% 47.714%, 79.55% 48.429%, 79.55% 51.429%);
  background-color: #1D353A;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(1) {
  -webkit-clip-path: polygon(19.15% 16.5%, 37.25% 25.643%, 46.55% 47.929%);
  background-color: #3B2D28;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(2) {
  -webkit-clip-path: polygon(19.15% 16.5%, 26.9% 50.929%, 29.25% 34.3%);
  background-color: #3B2D28;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(3) {
  -webkit-clip-path: polygon(19.05% 16.5%, 29% 34.3%, 36.4% 27.5%);
  background-color: #E46E39;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(4) {
  -webkit-clip-path: polygon(29% 34.214%, 36.3% 27.4%, 46.6% 48.2%);
  background-color: #FB913C;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(5) {
  -webkit-clip-path: polygon(28.9% 34.1%, 46.55% 48.214%, 26.85% 50.929%);
  background-color: #423C32;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(6) {
  -webkit-clip-path: polygon(26.75% 50.786%, 46.55% 48.071%, 46.05% 52.643%);
  background-color: #30201D;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(7) {
  -webkit-clip-path: polygon(31.25% 52.5%, 45.95% 52.786%, 32.65% 64.786%);
  background-color: #EE8548;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(8) {
  -webkit-clip-path: polygon(31.15% 52.5%, 45.95% 52.929%, 38.05% 57.643%);
  background-color: #EFBA6B;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(9) {
  -webkit-clip-path: polygon(35.45% 60.5%, 36.45% 61.214%, 35.35% 62.071%);
  background-color: #232626;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(10) {
  -webkit-clip-path: polygon(32.55% 64.643%, 45.85% 52.929%, 38.45% 70.214%);
  background-color: #CA6532;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(11) {
  -webkit-clip-path: polygon(47.55% 46.786%, 50.15% 44.071%, 43.15% 67.071%);
  background-color: #3B2D28;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(12) {
  -webkit-clip-path: polygon(50.15% 44.071%, 50.35% 48.643%, 43.25% 66.643%);
  background-color: #23120C;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(13) {
  -webkit-clip-path: polygon(48.85% 48.071%, 48.25% 52.214%, 47.15% 51.643%);
  background-color: #DCB050;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(14) {
  -webkit-clip-path: polygon(48.25% 46.214%, 48.25% 44.786%, 50.15% 44.071%);
  background-color: #62564D;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(15) {
  -webkit-clip-path: polygon(50.15% 44.071%, 51.25% 46.643%, 50.25% 47.786%);
  background-color: #62564D;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(16) {
  -webkit-clip-path: polygon(49.15% 44.357%, 46.75% 28.643%, 49.85% 44.214%);
  background-color: #070401;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(17) {
  -webkit-clip-path: polygon(50.45% 44.643%, 62.15% 38.214%, 50.75% 45.357%);
  background-color: #070401;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(18) {
  -webkit-clip-path: polygon(46.85% 57.357%, 42.95% 75.357%, 38.95% 72.643%);
  background-color: #E6A15B;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(19) {
  -webkit-clip-path: polygon(38.95% 72.643%, 42.95% 75.357%, 39.75% 77.071%);
  background-color: #3B2D28;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(20) {
  -webkit-clip-path: polygon(45.45% 56.5%, 46.95% 57.357%, 39.05% 72.643%);
  background-color: #FCCC67;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(21) {
  -webkit-clip-path: polygon(48.45% 54.214%, 58.95% 69.214%, 51.95% 76.214%);
  background-color: #E98247;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(22) {
  -webkit-clip-path: polygon(48.35% 54.214%, 58.95% 69.071%, 51.65% 65.786%);
  background-color: #EEB96B;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(23) {
  -webkit-clip-path: polygon(48.45% 54.214%, 51.95% 76.214%, 45.05% 74.214%);
  background-color: #CA6532;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(24) {
  -webkit-clip-path: polygon(51.05% 70.071%, 51.85% 70.357%, 51.25% 71.929%);
  background-color: #232626;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(25) {
  -webkit-clip-path: polygon(48.35% 54.214%, 50.35% 49.929%, 62.75% 72.786%);
  background-color: #30201D;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(26) {
  -webkit-clip-path: polygon(50.45% 50.071%, 67.85% 42.929%, 86.55% 53.929%);
  background-color: #392C27;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(27) {
  -webkit-clip-path: polygon(50.45% 50.071%, 67.75% 45.214%, 69.85% 57.5%);
  background-color: #F78F3B;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(28) {
  -webkit-clip-path: polygon(50.35% 50.071%, 69.85% 57.357%, 62.65% 72.786%);
  background-color: #3A352C;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(29) {
  -webkit-clip-path: polygon(67.65% 45.357%, 86.55% 53.929%, 69.85% 57.5%);
  background-color: #E46E39;
}

.slow-3:hover~.section-4-posi .sloth:nth-child(30) {
  -webkit-clip-path: polygon(69.75% 57.357%, 86.65% 53.929%, 62.65% 72.786%);
  background-color: #3B2D28;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(1) {
  -webkit-clip-path: polygon(21.25% 73%, 22.95% 58.143%, 26.75% 85.286%);
  background-color: #301A02;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(2) {
  -webkit-clip-path: polygon(24.45% 65.571%, 29.95% 85.286%, 23.25% 72.571%);
  background-color: #493106;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(3) {
  -webkit-clip-path: polygon(23.25% 72.714%, 19.45% 41.857%, 28.85% 51.857%);
  background-color: #93693C;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(4) {
  -webkit-clip-path: polygon(19.45% 42%, 23.65% 28%, 28.85% 52%);
  background-color: #A97D4E;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(5) {
  -webkit-clip-path: polygon(23.55% 28.286%, 37.45% 35.857%, 28.85% 51.857%);
  background-color: #BF8D56;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(6) {
  -webkit-clip-path: polygon(22.45% 27.714%, 30.75% 16.143%, 42.85% 21.286%);
  background-color: #BC864E;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(7) {
  -webkit-clip-path: polygon(22.45% 27.571%, 42.85% 21.143%, 48.35% 42.143%);
  background-color: #A87647;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(8) {
  -webkit-clip-path: polygon(28.75% 51.857%, 37.35% 35.857%, 42.95% 51.571%);
  background-color: #966336;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(9) {
  -webkit-clip-path: polygon(29.95% 16.143%, 36.25% 11%, 42.85% 21.143%);
  background-color: #BE9E74;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(10) {
  -webkit-clip-path: polygon(37.15% 35.857%, 48.35% 42%, 42.95% 51.429%);
  background-color: #6E4829;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(11) {
  -webkit-clip-path: polygon(42.75% 21.143%, 61.95% 33%, 48.25% 42.143%);
  background-color: #B27D48;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(12) {
  -webkit-clip-path: polygon(42.75% 21.143%, 50.85% 16.143%, 61.95% 33%);
  background-color: #B99566;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(13) {
  -webkit-clip-path: polygon(42.75% 51.429%, 48.35% 42%, 47.25% 66.714%);
  background-color: #47322C;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(14) {
  -webkit-clip-path: polygon(48.25% 42.143%, 54.55% 63.286%, 47.13% 66.857%);
  background-color: #311E0F;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(15) {
  -webkit-clip-path: polygon(47.45% 66.571%, 50.65% 65%, 49.05% 85.571%);
  background-color: #724F38;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(16) {
  -webkit-clip-path: polygon(51.15% 64.571%, 54.25% 63.143%, 53.05% 85.429%);
  background-color: #533820;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(17) {
  -webkit-clip-path: polygon(48% 41.75%, 56.25% 48.7%, 55.05% 65.571%);
  background-color: #522A10;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(18) {
  -webkit-clip-path: polygon(48.15% 42%, 61.95% 33%, 61.35% 53.429%);
  background-color: #64422D;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(19) {
  -webkit-clip-path: polygon(61.85% 32.857%, 71.75% 42.571%, 60.65% 55.4%);
  background-color: #7E5130;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(20) {
  -webkit-clip-path: polygon(61.85% 32.9%, 65.95% 24.286%, 71.15% 29.143%);
  background-color: #7C5531;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(21) {
  -webkit-clip-path: polygon(61.85% 32.857%, 70.95% 29%, 71.45% 43.143%);
  background-color: #664015;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(22) {
  -webkit-clip-path: polygon(61.35% 54.429%, 71.55% 42.714%, 63.35% 63.857%);
  background-color: #513A2D;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(23) {
  -webkit-clip-path: polygon(62.75% 64.429%, 71.35% 42.714%, 72.25% 58.429%);
  background-color: #61452E;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(24) {
  -webkit-clip-path: polygon(70.85% 29%, 76.65% 48.143%, 71.85% 60.143%);
  background-color: #916032;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(25) {
  -webkit-clip-path: polygon(70.85% 29.143%, 75.85% 32.143%, 77.25% 51.714%);
  background-color: #A66E40;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(26) {
  -webkit-clip-path: polygon(65.85% 24.571%, 68.65% 17.571%, 76.15% 23.857%);
  background-color: #A07555;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(27) {
  -webkit-clip-path: polygon(70.05% 24.286%, 70.55% 16.571%, 76.15% 24%);
  background-color: #B38956;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(28) {
  -webkit-clip-path: polygon(65.75% 24.714%, 79.25% 23.286%, 70.95% 29.286%);
  background-color: #D6C6AF;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(29) {
  -webkit-clip-path: polygon(70.85% 29.143%, 79.25% 23.286%, 81.95% 28.286%);
  background-color: #C3B091;
}

.slow-4:hover~.section-4-posi .sloth:nth-child(30) {
  -webkit-clip-path: polygon(70.85% 29.143%, 81.15% 28.286%, 75.85% 32.857%);
  background-color: #876F53;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(1) {
  -webkit-clip-path: polygon(7.013% 37.714%, 12.812% 34.286%, 26.012% 40%);
  background-color: #ff9763;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(2) {
  -webkit-clip-path: polygon(14.313% 38.714%, 12.313% 48.857%, 14.313% 60.714%);
  background-color: #02ac96;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(3) {
  -webkit-clip-path: polygon(9.112% 62.286%, 28.813% 54.714%, 16.313% 63.286%);
  background-color: #d66b5b;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(4) {
  -webkit-clip-path: polygon(14.313% 38.5%, 22.9% 48.429%, 14.25% 60.6%);
  background-color: #e58557;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(5) {
  -webkit-clip-path: polygon(14.213% 38.429%, 25.912% 39.857%, 22.813% 48.429%);
  background-color: #ed8e5b;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(6) {
  -webkit-clip-path: polygon(14.313% 60.571%, 22.813% 48.429%, 28.813% 54.857%);
  background-color: #e37364;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(7) {
  -webkit-clip-path: polygon(22.712% 48.5%, 25.912% 39.714%, 28.7% 54.77%);
  background-color: #e58557;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(8) {
  -webkit-clip-path: polygon(25.912% 39.85%, 47.713% 44.286%, 28.75% 54.9%);
  background-color: #08da9f;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(9) {
  -webkit-clip-path: polygon(31.712% 41.2%, 31.813% 30.714%, 52.25% 22.8%);
  background-color: #a06891;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(10) {
  -webkit-clip-path: polygon(29.213% 59%, 31.212% 53.4%, 47.713% 62.3%);
  background-color: #a74876;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(11) {
  -webkit-clip-path: polygon(31.712% 41.2%, 47.813% 26.286%, 47.713% 44.3%);
  background-color: #5cefb2;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(12) {
  -webkit-clip-path: polygon(31.112% 53.429%, 47.813% 44.143%, 47.713% 62.286%);
  background-color: #00c290;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(13) {
  -webkit-clip-path: polygon(47.713% 26.429%, 56.112% 35.286%, 47.713% 44.286%);
  background-color: #30e5aa;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(14) {
  -webkit-clip-path: polygon(47.713% 44.286%, 56.3% 53.143%, 47.713% 62.35%);
  background-color: #00c794;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(15) {
  -webkit-clip-path: polygon(47.713% 44.286%, 56.112% 35.429%, 56.112% 53.286%);
  background-color: #00cc97;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(16) {
  -webkit-clip-path: polygon(47.713% 26.35%, 52.22% 22.6%, 66.112% 25.7%);
  background-color: #ffc86d;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(17) {
  -webkit-clip-path: polygon(47.6% 26.4%, 66.112% 25.714%, 56.012% 35.4%);
  background-color: #ffba5b;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(18) {
  -webkit-clip-path: polygon(56.012% 35.286%, 66.1% 25.714%, 68.212% 48%);
  background-color: #ffaa5a;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(19) {
  -webkit-clip-path: polygon(53.15% 38.35%, 56.012% 35.286%, 68.5% 48.3%);
  background-color: #583c3e;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(20) {
  -webkit-clip-path: polygon(52.812% 44.6%, 53.212% 38.286%, 68.5% 48.2%);
  background-color: #3b2e37;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(21) {
  -webkit-clip-path: polygon(52.812% 44.54%, 68.4% 48%, 56.112% 53.429%);
  background-color: #744f44;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(22) {
  -webkit-clip-path: polygon(47.7% 62.286%, 56.15% 53.2%, 65.813% 64.571%);
  background-color: #f86826;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(23) {
  -webkit-clip-path: polygon(56.012% 53.143%, 68.212% 48%, 65.712% 64.571%);
  background-color: #fa7637;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(24) {
  -webkit-clip-path: polygon(54.012% 70.143%, 57.913% 63.429%, 65.612% 64.5%);
  background-color: #f4542e;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(25) {
  -webkit-clip-path: polygon(66.112% 25.857%, 86.513% 43.571%, 68.112% 48.143%);
  background-color: #ff9658;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(26) {
  -webkit-clip-path: polygon(68.112% 47.857%, 86.513% 43.429%, 65.6% 64.62%);
  background-color: #fa8637;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(27) {
  -webkit-clip-path: polygon(65.712% 64.286%, 82.013% 48%, 85.513% 53.286%);
  background-color: #ba694b;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(28) {
  -webkit-clip-path: polygon(75.113% 43.714%, 76.712% 40.857%, 79.813% 42.571%);
  background-color: #32a4f0;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(29) {
  -webkit-clip-path: polygon(82% 47.9%, 86.45% 43.5%, 88.413% 47.571%);
  background-color: #32a4f0;
}

.slow-5:hover~.section-4-posi .sloth:nth-child(30) {
  -webkit-clip-path: polygon(82% 48%, 87.112% 50.571%, 85.413% 53.286%);
  background-color: #0078a1;
}