html * {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
}

.section-1,
.section-2,
.section-3,
.section-4 {
  position: relative;
  height: 100%;
  clip-path: inset(10px 10px round 10px);
}

.section-4-posi {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #333;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  cursor: pointer;
}

.section-4-posi2 {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #333;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 20%;
  margin-left: -150px;
  margin-top: -150px;
  cursor: pointer;
}

.section-4-posi3 {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #333;
  width: 300px;
  height: 300px;
  top: 50%;
  right: 20%;
  margin-right: -150px;
  margin-top: -150px;
  cursor: pointer;
}

.section-1  {
  background-image: url(../images/universe.png);
}

.section-2 {
  background-color: #79bbb5;
}

.section-3 {
  background-color: #f6d860;
}

.section-4 {
  background-color: #fdacb4;
}

.sun {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #cc9900;
  box-shadow: 0 0 50px #cc9900;
  cursor: pointer;
  z-index: 10;
  transition: 2s;
}

.sun:hover {
  box-shadow: 0 0 100px #cc9900;
}

.orbit{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 2px solid rgb(167, 164, 164);
  opacity: 0;
}

.orbit:nth-of-type(1) {
  transition: opacity 1s;
}
.orbit:nth-of-type(2) {
  transition: opacity 1s .5s;
}
.orbit:nth-of-type(3) {
  transition: opacity 1s 1s;
}
.orbit:nth-of-type(4) {
  transition: opacity 1s 1.5s;
}
.orbit:nth-of-type(5) {
  transition: opacity 1s 2s;
}
.orbit:nth-of-type(6) {
  transition: opacity 1s 2.5s;
}

div.orbit:nth-of-type(1) {
  margin-left: -90px;
  margin-top: -90px;
  width: 180px;
  height: 180px;
  animation: orbit1 5s linear infinite;
}

div.orbit:nth-of-type(2) {
  margin-left: -130px;
  margin-top: -130px;
  width: 260px;
  height: 260px;
  animation: orbit2 13s linear infinite;
}

div.orbit:nth-of-type(3) {
  margin-left: -170px;
  margin-top: -170px;
  width: 340px;
  height: 340px;
  animation: orbit3 18s linear infinite;
}

div.orbit:nth-of-type(4) {
  margin-left: -210px;
  margin-top: -210px;
  width: 420px;
  height: 420px;
  animation: orbit4 16s linear infinite;
}

div.orbit:nth-of-type(5) {
  margin-left: -250px;
  margin-top: -250px;
  width: 500px;
  height: 500px;
  animation: orbit5 20s linear infinite;
}

div.orbit:nth-of-type(6) {
  margin-left: -290px;
  margin-top: -290px;
  width: 580px;
  height: 580px;
  animation: orbit5 10s linear infinite;
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 9;
  opacity: 0;
  transition: 1.2s;
}

.planet-slow-2 {
  transition:  1.2s .5s;
}
.planet-slow-3 {
  transition:  1.2s 1s;
}
.planet-slow-4 {
  transition:  1.2s 1.5s;
}
.planet-slow-5 {
  transition:  1.2s 2s;
}
.planet-slow-6 {
  transition:  1.2s 2.5s;
}

span img,
.sun img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sun:hover ~ div.orbit {
  opacity: 1;
}

.sun:hover ~ div.orbit span {
  left: -30px;
  opacity: 1;
  margin-left: 0;
}


@keyframes orbit1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes orbit2 {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: rotate(420deg);
  }
}

@keyframes orbit3 {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(480deg);
  }
}

@keyframes orbit4 {
  from {
    transform: rotate(50deg);
  }
  to {
    transform: rotate(410deg);
  }
}

@keyframes orbit5 {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(380deg);
  }
}